# Loading D4M

You can install D4M.jl by cloning git repo linked to at http://d4m.mit.edu/download and executing `Pkg.clone("https://github.com/Accla/D4M.jl.git")` in the Julia REPL. To load the D4M package, execute the following command:

In [28]:
using D4M,JLD

D4M is a package for working with Associative Arrays. An Associative Array is a bit like a sparse matrix, but the rows, columns, and values can be either numbers or strings. Here we demonstrate its database connection capabilities.

# Connecting to Accumulo

Now we will bind to a database. We can make a call to the `dbsetup()` function. On our system, you only need to specify the instance name, otherwise you can provide a config file with the instance name, zookeeper hostname, username, and password.

This will return a `DBserver` struct, which contains all the connection information for Accumulo.

In [29]:
DB = dbsetup("class-db01")

15 Oct 2018 15:05:29,084 WARN - ClientConfiguration.loadFromSearchPath(227) -  Found no client.conf in default paths. Using default client configuration values.

DBserver("class-db01", "class-db01.cloud.llgrid.txe1.mit.edu:2181", "AccumuloUser", "QzKxsa-6h-Odz%zsEuWs@L78p", "BigTableLike", JavaCall.JavaObject{Symbol("edu.mit.ll.graphulo.MatlabGraphulo")}(Ptr{Void} @0x0000000004c953a0))

You can get a list of the tables in the database by calling `ls`.

In [30]:
ls(DB)

4-element Array{SubString{String},1}:
 "accumulo.metadata"
 "accumulo.replication"
 "accumulo.root"
 "trace"

Once you have the `DBserver` struct, you can create a new table or connect to an existing table:

In [31]:
Tedge = DB["mytable_Tedge","mytable_TedgeT"]
TedgeDeg = DB["mytable_TedgeDeg"]
dtable = DB["table_to_delete"]

ls(DB)

Creating mytable_Tedge in class-db01
Creating mytable_TedgeT in class-db01
Creating mytable_TedgeDeg in class-db01
Creating table_to_delete in class-db01

8-element Array{SubString{String},1}:
 "accumulo.metadata"
 "accumulo.replication"
 "accumulo.root"
 "mytable_Tedge"
 "mytable_TedgeDeg"
 "mytable_TedgeT"
 "table_to_delete"
 "trace"

You can delete tables just as easily.

In [32]:
delete(dtable)
ls(DB)

7-element Array{SubString{String},1}:
 "accumulo.metadata"
 "accumulo.replication"
 "accumulo.root"
 "mytable_Tedge"
 "mytable_TedgeDeg"
 "mytable_TedgeT"
 "trace"

# Inserting Data

Let's insert some data. These files contain pre-parsed Associative Arrays from the tracking logs of the OpenEdx course platform.

In [33]:
fnames = "data/".*filter!(r".jld",readdir("data"))

A = Assoc("","","")

for f in fnames
    A = A + load(f)["A"]
end

printTriple(A[100,:])

(20170916-1505593021_0090,context_course_id|course-v1:edX+DemoX+Demo_Course)	1.0
(20170916-1505593021_0090,context_org_id|edX)	1.0
(20170916-1505593021_0090,context_path|/event)	1.0
(20170916-1505593021_0090,context_user_id|6)	1.0
(20170916-1505593021_0090,course_loc|002.002)	1.0
(20170916-1505593021_0090,event_source|browser)	1.0
(20170916-1505593021_0090,event_type|problem_graded)	1.0
(20170916-1505593021_0090,host|bwedx.mit.edu)	1.0
(20170916-1505593021_0090,ip|129.55.200.20)	1.0
(20170916-1505593021_0090,module_name|Example Week 1: Getting Started)	1.0
(20170916-1505593021_0090,name|problem_graded)	1.0
(20170916-1505593021_0090,page|https://bwedx.mit.edu/courses/course-v1:edX+DemoX+Demo_Course/courseware/interactive_demonstrations/basic_questions/?child=first)	1.0
(20170916-1505593021_0090,referer|https://bwedx.mit.edu/courses/course-v1:edX+DemoX+Demo_Course/courseware/interactive_demonstrations/basic_questions/?child=first)	1.0
(20170916-1505593021_0090,section_name|Homework - Question Styles)	1.0
(20170916-1505593021_0090,session|29b2185d1bb72c81d87a915acfddeb96)	1.0
(20170916-1505593021_0090,time|2017-09-15T16:27:31.635069+00:00)	1.0
(20170916-1505593021_0090,username|mhoule)	1.0

To insert the Associative Array into Accumulo, we just call `put`. This will also populate the transpose table of the table pair `Tedge`.

In [34]:
put(Tedge,A)
put(TedgeDeg,sum(A,1)')
nnz(Tedge)

56026

# Querying Data

Now that we have data, we can run queries. We can run both row and column queries. By default, a column query on a table pair will query the transpose table, so a column query on a table pair is just as fast as a row query.

In [37]:
@time rowQ = Tedge["20170916-1505593021_0090,",:]
@time colQ = Tedge[:,"event_type|problem_graded,"]

println(size(rowQ))
println(size(colQ))

  0.025368 seconds (1.88 k allocations: 104.813 KiB)
  0.025282 seconds (3.45 k allocations: 211.141 KiB)
(1, 17)
(125, 1)

You can also query multiple keys at once, do range queries, and prefix queries:

In [38]:
twokeys = Tedge["20170916-1505593021_0090,20170911-1505128621_0001,",:]
rangeQ = Tedge["20170911-1505128621_0001,:,20170911-1505128621_0005,",:]
prefixQ = Tedge[:,StartsWith("module_name|")]

println("Query for rows 20170916-1505593021_0090 and 20170911-1505128621_0001:")
println(Row(twokeys))
println("\nQuery for rows 20170911-1505128621_0001 through 20170911-1505128621_0005:")
println(Row(rangeQ))
println("\nQuery for columns that start with module_name|:")
println(Col(prefixQ))

Query for rows 20170916-1505593021_0090 and 20170911-1505128621_0001:
Union{AbstractString, Number}["20170911-1505128621_0001", "20170916-1505593021_0090"]

Query for rows 20170911-1505128621_0001 through 20170911-1505128621_0005:
Union{AbstractString, Number}["20170911-1505128621_0001", "20170911-1505128621_0002", "20170911-1505128621_0003", "20170911-1505128621_0004", "20170911-1505128621_0005"]

Query for columns that start with module_name|:
Union{AbstractString, Number}["module_name|Build Instructions", "module_name|Doppler Processing", "module_name|Example Week 1: Getting Started", "module_name|Final", "module_name|Introduction", "module_name|Introduction to High Performance Scientific Computing", "module_name|Introduction to the LLSC Systems", "module_name|Overview", "module_name|Resources", "module_name|Submitting, Monitoring, and Stopping Jobs", "module_name|TX-E1 Basics", "module_name|The Analyst Challenge", "module_name|The Data Challenge", "module_name|The System Challenge", "module_name|Use Case 2: MapReduce", "module_name|Use Case 4: Parallel Computing", "module_name|Use Case 5: Databases and Data Analytics", "module_name|Using the LLSC Systems", "module_name|Welcome"]

# Cleanup

Again, to delete tables, just call `delete`:

In [27]:
delete(Tedge)
delete(TedgeDeg)